<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DTSAudioComponent</string>
	<key>CFBundleIdentifier</key>
	<string>com.ffmpeg.DTSAudioComponent</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DTS Audio Component</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>DTS Audio Decoder</string>
			<key>factoryFunction</key>
			<string>DTSDecoderEntry</string>
			<key>manufacturer</key>
			<string>dts </string>
			<key>name</key>
			<string>FFmpeg: DTS Audio Decoder</string>
			<key>subtype</key>
			<string>dts </string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>0x00010000</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>DTS Audio Decoder (MP4)</string>
			<key>factoryFunction</key>
			<string>DTSDecoderEntry</string>
			<key>manufacturer</key>
			<string>dts </string>
			<key>name</key>
			<string>FFmpeg: DTS Audio Decoder (MP4)</string>
			<key>subtype</key>
			<string>dtsh</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>0x00010000</integer>
		</dict>
		<dict>
			<key>description</key>
			<string>DTS Audio Decoder (Core)</string>
			<key>factoryFunction</key>
			<string>DTSDecoderEntry</string>
			<key>manufacturer</key>
			<string>dts </string>
			<key>name</key>
			<string>FFmpeg: DTS Audio Decoder (Core)</string>
			<key>subtype</key>
			<string>dtsc</string>
			<key>type</key>
			<string>adec</string>
			<key>version</key>
			<integer>0x00010000</integer>
		</dict>
	</array>
</dict>
</plist>